body {
    height: 87%;
    font-family: Georgia, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    background-color: aliceblue;
    text-align: center;
}
.applicationMenu {
    font-size: 20px;
    position: relative;
    transition-property: font-size;
    transition-duration: 50ms;
    transition-delay: 50ms;
}
.applicationMenu:hover {
    color: black;
    transition-property: font-size;
    transition-duration: 50ms;
    transition-delay: 50ms;
    font-size: 23px;
}
.footer_text {
    font-size: 15px
}

table {
    margin: auto;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: black;
    text-align: start;
    border-spacing: 2px;
    border-color: grey;
    font-variant: normal;
}
th {
    font-weight: normal;
    color: #039;
    padding: 10px 15px;
}

td {
    color: black;
    border-top: 1px solid #e8edff;
    padding: 10px 15px;
}
tr:hover td {
    background: #e8edff;
}

footer {

    background-color: #d4d4d4;
    font-size: 15px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 10%;
    width: 100%;
}
#input1 {
    width: 295%;
}
#table_add {

    margin: auto;
    border-collapse: collapse;
    box-sizing: border-box;
    text-indent: initial;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: black;
    text-align: start;
    border-spacing: 2px;
    border-color: grey;
    font-variant: normal;
}
#form_marg {
    margin-left: 15px;
    margin-top: 3%;
    font-size: 25px;
}
.form_search_left {
    width: 100%;
    text-align: right;
}
.text_form_search {
   font-size: 30px;
    margin-top: 2%
}
.form_search_main {
    display: flex;
    width: 800px;
    margin: 0 auto -10px auto;
    padding-left: 5%;

}
.form_search_one {

    width: 100%;
    display: flex;
    padding-right: 100px;
    flex-wrap: wrap;
    position: center;

}
.form_two {
    width: 50%;
}
.form_search_left {
    width: 100%;
    text-align: right;
}
.form_search_right {
    margin-left: 15px;
    width: 100%;
    text-align: right;
}
.arrow_righ {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
#person_table {
    width: 750px;
    font-size: 17px;
    text-align: center;
}

#myInput {
    width: 750px; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}
.main_button {
    font-size: 16px;
    color: black;
}
.custom_addTable {
    width: 500px;
    margin: 50px auto;
    padding-top: 2px;
    padding-bottom: 2px;
    background: none 0 0 / auto repeat scroll padding-box border-box rgb(222,230,250);
    border-radius: 25px;
}
.custom_editTable {
    width: 500px;
    margin: 50px auto;
    padding-top: 2px;
    padding-bottom: 2px;
    background: none 0 0 / auto repeat scroll padding-box border-box rgb(250, 162, 162);
    border-radius: 25px;
}
.custom_back {
    margin-bottom: 15px;
    margin-top: -10px;
}
.custom_input {
    width: 252px;
    margin-left: -92px;
    border-radius: 25px;
    background-color: white;
    color: black;
    border: 2px solid cadetblue;
}
.custom_input:hover {
    background-color: lavender;
}

.non:hover td {
    background: none!important;
}
.errorHead {
    width: 90%;
    height: 15%;
    margin: 0;
    padding-left: 100px;
    padding-top: 50px;
    font-size: 50px;
    text-align: left;
}
.errorBodyInfo {
    width: 100%;
    height: 85%;
    float: left;
    margin: auto;
}

.errorTextMain {
    font-size: 35px;
}
.errorBodyMain {
    width: 950px;
    height: 200px;
    margin: 80px auto;
    padding-top: 20px;
}
.errorBodyMain1{
    width: 100%;
    height: 30%;
    font-size: 40px;
    text-align: left;
    margin-left: 120px;
    color: #c51212;
}
.errorBodyMain2 {
    width: 100%;
    height: 30%;
    font-size: 32px;
}
.errorBodyMain3 {
    width: 100%;
    height: 30%;
}
.errorBodyMain4 {
    float: left;
    height: 100%;
    width: 50%;
    margin-top: 15px;
}
.errorInput {
    border-radius: 25px;
    font-size: 30px;
    color: mediumslateblue;
    background-color: aliceblue;
    border: 0;
    text-decoration: underline;
}
.errorInput:hover{
    color: black;
    cursor: pointer;
}




